Youâ€™ve been hired by a nonprofit called ConnectSA, which provides digital literacy and streaming
services to underserved communities in South Africa.They have collected customer data from outreach efforts in Cape Town, Durban, and Soweto.Your job is to clean, explore, and visualize this data to help them understand who their customers
are and how engagement has grown over time.Use the dataset titled customers.csv containing 100 customer records from a nonprofit streaming
initiative.

In [3]:
# --- Solution for 1a ---
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset with a simple variable name
df = pd.read_csv('customers.csv')

# 1. Display the first 5 rows of the DataFrame
print("--- First 5 Rows of the DataFrame ---")
print(df.head())
print("\n" + "-"*40 + "\n") # Adding a separator for clarity

# 2. Use .info() to explore the structure of the data
print("--- DataFrame Info ---")
df.info()
print("\n" + "-"*40 + "\n") # Adding a separator for clarity

# 3. Use .describe() to get a statistical summary
print("--- Descriptive Statistics ---")
print(df.describe())

--- First 5 Rows of the DataFrame ---
   customer_id             name  age             city  \
0            1      John Rivers   31       New Angela
1            2  Richard Mcclure   21        Jamieside
2            3       Eric Smith   34   Port Mariastad
3            4      Megan Price   47   South Samantha
4            5     Pedro Guzman   20  South Laurabury

                        country subscription_date
0         Sao Tome and Principe        2024-09-17
1  Svalbard & Jan Mayen Islands        2021-07-19
2                     Nicaragua        2025-06-08
3                        Turkey        2021-12-09
4                     Mauritius        2023-03-11

----------------------------------------

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        100 non-null    int64
 1   name               100 non-null    object
 2   age                100 non-null    int64
 3   city               100 non-null    object
 4   country            100 non-null    object
 5   subscription_date  100 non-null    object
dtypes: int64(2), object(4)
memory usage: 4.8+ KB

----------------------------------------

--- Descriptive Statistics ---
       customer_id         age
count   100.000000  100.000000
mean     50.500000   44.700000
std      29.011492   17.469454
min       1.000000   18.000000
25%      25.750000   28.750000
50%      50.500000   46.000000
75%      75.250000   61.000000
max     100.000000   75.000000

In [ ]:
# --- Solution for 1b ---
print("--- Question 1b: Age Statistics ---")

# Calculate the mean and standard deviation of the 'age' column using NumPy
# CORRECTED: Changed 'df_customers' to 'df' for consistency
mean_age = np.mean(df['age'])
std_dev_age = np.std(df['age'])

print(f"Mean Age: {mean_age:.2f}")
print(f"Standard Deviation of Age: {std_dev_age:.2f}\n")

# Create a boolean array to identify customers under 25
# This will be a Series of True/False values
is_under_25 = df['age'] < 25
print("Boolean array for the first 5 customers under 25:")
print(is_under_25.head())
print("-" * 30)


# --- Solution for 1c ---
print("\n--- Question 1c: Filtering for Customers Under 25 ---")

# Use the boolean array 'is_under_25' to filter the DataFrame
# This selects only the rows where the 'is_under_25' value is True
customers_under_25 = df[is_under_25]

# Display the resulting DataFrame
print("Displaying all customers under the age of 25:")
print(customers_under_25)
print("-" * 30)


# --- Solution for 1d ---
print("\n--- Question 1d: Creating the 'age_group' Column ---")

# Define the conditions (bins) and the corresponding labels for our groups
# [cite_start]Bins: 0-24 (Youth), 25-59 (Adult), 60+ (Senior) [cite: 68, 69, 70]
bins = [0, 24, 59, float('inf')]
labels = ['Youth', 'Adult', 'Senior']

# Create the new 'age_group' column using the pandas.cut() function
# This function segments the data into the bins we defined
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True)

# Display the first 10 rows of the DataFrame to show the new column
print("DataFrame with the new 'age_group' column:")
print(df.head(10))
print("-" * 30)

--- Question 1b: Age Statistics ---
Mean Age: 44.70
Standard Deviation of Age: 17.38

Boolean array for the first 5 customers under 25:
0    False
1     True
2    False
3    False
4     True
Name: age, dtype: bool
------------------------------

--- Question 1c: Filtering for Customers Under 25 ---
Displaying all customers under the age of 25:
    customer_id              name  age                 city  \
1             2   Richard Mcclure   21            Jamieside
4             5      Pedro Guzman   20      South Laurabury
10           11       Erin Lucero   21            Smithland
37           38     Jerry Johnson   22       Lake Ashleyton
39           40      Leroy Santos   18    South Thomasmouth
46           47    Tiffany Arnold   21     South Samuelport
47           48  Meredith Johnson   21         Foleychester
56           57     Vanessa Perez   24         East Vincent
58           59        Joel Brown   24  West Jefferyborough
61           62    Cathy Anderson   22     South Oliviaside
71           72     Denise Miller   20             Myerston
75           76      Gerald Smith   18  Lake Anthonychester
81           82   Victoria Miller   18        Port Nicholas
86           87   Michelle Walker   21    South Alanborough
91           92      David Morgan   23        Donaldchester
94           95    Michelle Young   19         Michaelhaven
95           96         Carol Lee   20          Stuartville

                                 country subscription_date
1           Svalbard & Jan Mayen Islands        2021-07-19
4                              Mauritius        2023-03-11
10                                  Peru        2023-04-20
37                                  Iraq        2021-01-06
39  United States Minor Outlying Islands        2023-09-19
46                      Marshall Islands        2021-05-10
47                               Croatia        2025-02-09
56                              Botswana        2022-07-31
58                               Moldova        2021-04-10
61                       Solomon Islands        2022-11-11
71                             Lithuania        2024-05-20
75                           Timor-Leste        2021-02-24
81              Turks and Caicos Islands        2021-10-28
86                                  Fiji        2020-11-24
91                              Ethiopia        2021-07-17
94                               Romania        2025-07-23
95                               Eritrea        2021-01-19
------------------------------

--- Question 1d: Creating the 'age_group' Column ---
DataFrame with the new 'age_group' column:
   customer_id             name  age             city  \
0            1      John Rivers   31       New Angela
1            2  Richard Mcclure   21        Jamieside
2            3       Eric Smith   34   Port Mariastad
3            4      Megan Price   47   South Samantha
4            5     Pedro Guzman   20  South Laurabury
5            6    Thomas Morgan   61       Hannahland
6            7      Derek Lewis   36    East Jennifer
7            8    James Fuentes   26        New Larry
8            9       Karen Pace   48     Daniellefort
9           10      Austin Beck   69      Valerietown

                        country subscription_date age_group
0         Sao Tome and Principe        2024-09-17     Adult
1  Svalbard & Jan Mayen Islands        2021-07-19     Youth
2                     Nicaragua        2025-06-08     Adult
3                        Turkey        2021-12-09     Adult
4                     Mauritius        2023-03-11     Youth
5                  Saint Martin        2022-05-08    Senior
6                        Norway        2021-01-29     Adult
7                       Iceland        2023-01-30     Adult
8          Netherlands Antilles        2020-11-24     Adult
9                       Belarus        2022-08-02    Senior
------------------------------